:root{
    --color: #8d8d8d;
    --colorsnow:snow;
}
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(images/bg3.jpg) center no-repeat;
    background-size: cover;
}
li{
    list-style-type: none;
}
header{
    width: 100%;
    background: url(images/header111.jpg) center no-repeat;
    background-size: cover;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--color); */
}
.links> a, #basket-icon{
    text-decoration: none;
    color: var(--colorsnow);
    margin: 20px 60px 20px 60px;
    font-size: 1em;
}
.site-name h1{
    text-shadow: 3px 3px  var(--color);
}
.back{
    font-size: 1.2em;
    padding: 8px;
    position: absolute;
    left:10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px 2px var(--color);
}
.basketicon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.basketicon:hover{
    cursor: pointer;
}
.basketicon p{
    position: absolute;
    top: 70px;
    left: 40px;
    font-size: 1em;
    line-height: 1em;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    color: var(--colorsnow);
    text-align: center;
}
#basket-icon{
    font-size: 2em;
}
.site-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    font-size: 2em;
    padding: 10px;
    color: var(--colorsnow);
    /* background: var(--color); */
    text-align: center;
}
/* product */
.container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5em;
}
.product-info{
    display: flex;
    flex-direction: column;
}
.product-info p,h1{
    color: var(--colorsnow);
}
.product-image{
    width: 500px;
    height: 500px;
}
/* cart */
.cart{
    width: 100%;
    margin: auto;
}
.cart h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.basket-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color);
    z-index: 1000;
}
.basket-item img{
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}
.basket-item li{
    display: flex;
    align-items: center;
}
.basket-price{
    margin-left: 60px;
}
.basket-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color);
}
.basket-header li{
    display: flex;
    align-items: center;
}
.price{
    color: var(--colorsnow);
    font-size: 1.5em;
}
.total{
    display: flex;
    justify-content: end;
    font-size: 1.5em;
}
.change-count, .remove{
    padding: 10px;
    font-size: 1em;
}
.change-count{
    width:2em;
}
/* modal */
.modal{
    display: none;
    position: relative;
    top: 50px;
    margin: auto;
    margin-bottom: 100px;
    width: 100vh;
    padding: 10px;
    background: rgba(200, 200, 200, 0.5);
    background-size: cover;
    box-shadow: 0px 0px 3px 3px rgb(200,200,200);
    z-index: 1000;
}
.show{
    display: block;
    font-size: 1.6em;
}
.filter{
    filter: blur(10px);
}
.purchasediv{
    display: flex;
    justify-content: center;
}
/*  */
.modal-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase,.continue{
    margin: 10px;
    padding: 10px;
    border: none;
    background: lightblue;
    color: green;
    font-size: 1.5em;
    box-shadow: 0px 0px 1px 2px var(--color);
    cursor:pointer;
}
.purchase:hover{
    cursor: pointer;
}
/*  */
footer{
    background: var(--color);
    color: var(--colorsnow);
    /* position: sticky; */
    bottom: 0px;
    width: 100%;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    margin-top: auto;
}
/*  */
.hide-cursor{
    cursor:none;
}
@media(max-width:770px){
    header,footer{
        width: 770px;
    }
}
/* add to cart button: for this product */
.add{
    padding: 10px;
    background: transparent;
    color: var(--colorsnow);
    border: 1px solid var(--colorsnow);
    font-size: 1em;
    cursor: pointer;
    width: 6em;
}
.h1-addtocart{
    display: flex;
}
.h1-addtocart>h1{
    margin-right: 20px;
}
/* ????????????????????? */
/* @media(max-width:300px){
    .productscart-container{
        width: 100%;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
} */
